body{
    border:1px solid black;
}

h1{
    margin-top: 0;

}

.heading1{
    width: 100%;
    height: fit-content ;
    text-align: center;
    border-bottom: 1px solid black;
    background-color:aliceblue;
    padding-top: 1em;

  
}


.heading2{
    color: #0b790b;
    display: inline;

}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    
    
}

.leftBox{
    width: 30%;
    border-right:1px solid black;
    padding-left: 1em;
    padding-right: 1em;
    background-color: aliceblue;

}

.rightBox{
    width: 70%;
    padding-left: 1em;
    background-color:rgb(178, 156, 202);

    
}

.leftBox a{
    display: block;
    line-height:2em;
    
}



.content{
    margin-left: 3em;
}

p:nth-of-type(6) span{
    color: rgb(14, 133, 93);
    
}

p span{
    font-weight: 600;
    
}


hr{
    max-width: 80%;
}

#up{
    
    width: 70%;
    margin-left: 80%;
}

.leftBox a:hover{
    background-color: blueviolet;
}

.rightBox a:hover{
    text-decoration: underline;

}




a{
    text-decoration: none;
    font-size: large;
    
}


input{
    background-color: beige;
}

input[type='submit']{
    background-color: rgb(168, 104, 20);
    padding:0.5em 2em 0.5em 2em;
}


input[type='submit']:hover{
    background-color: red;
    cursor: pointer;

}




